body {
  font-family: 'Heebo';
  margin: 0;
  padding: 0;
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

p {
  margin: 0; }

header {
  background: #000;
  display: flex;
  flex-direction: row; }

.FirstLogo {
  padding: 15px 15px 5px 45px; }
  .FirstLogo p {
    color: #e6e6e6;
    font-size: 30px;
    line-height: 15px; }
  .FirstLogo span {
    color: #ff1d25;
    font-size: 12px;
    padding-left: 50px; }

.verticalHr {
  border-left: 2px solid #808080;
  height: 40px;
  margin: 10px 0 0; }

.SubFirstLogo {
  padding: 15px 300px 5px 20px;
  color: #808080;
  font-size: 14px;
  line-height: 15px; }

.SecondLogo {
  padding: 15px 45px 5px 15px; }
  .SecondLogo p {
    color: #e6e6e6;
    font-size: 30px;
    line-height: 15px; }
  .SecondLogo span {
    color: #ff1d25;
    font-size: 12px;
    padding-left: 50px; }

.SubSecondLogo {
  padding: 15px 15px 5px 300px;
  color: #808080;
  font-size: 14px;
  line-height: 15px; }
