body {
  font-family: 'Heebo';
  margin: 0;
  padding: 0;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center; }

p {
  margin: 0; }

header {
  background: #000;
  display: flex;
  flex-direction: row; }

.FirstLogo {
  padding: 15px 15px 5px 45px; }
  .FirstLogo p {
    color: #e6e6e6;
    font-size: 30px;
    line-height: 15px; }
  .FirstLogo span {
    color: #ff1d25;
    font-size: 12px;
    padding-left: 50px; }

.verticalHr {
  border-left: 2px solid #808080;
  height: 40px;
  margin: 10px 0 0; }

.SubFirstLogo {
  padding: 15px 300px 5px 20px;
  color: #808080;
  font-size: 14px;
  line-height: 15px; }

.SecondLogo {
  padding: 15px 45px 5px 15px; }
  .SecondLogo p {
    color: #e6e6e6;
    font-size: 30px;
    line-height: 15px; }
  .SecondLogo span {
    color: #ff1d25;
    font-size: 12px;
    padding-left: 50px; }

.SubSecondLogo {
  padding: 15px 15px 5px 300px;
  color: #808080;
  font-size: 14px;
  line-height: 15px; }

main {
  display: flex;
  flex-direction: column;
  background: #ccc; }

.mainH {
  padding: 50px 50px 20px 312px;
  display: flex;
  flex-direction: row; }
  .mainH div {
    background: #0071bc;
    padding: 15px 10px;
    margin: 20px 0 0 20px;
    height: 40px;
    color: #fff;
    font-size: 21px;
    line-height: 18px;
    font-family: 'Heebo Black'; }
    .mainH div p {
      font-size: 21px; }
    .mainH div span {
      font-size: 21px; }
  .mainH h1 {
    font-size: 21px;
    line-height: 24px; }
  .mainH p {
    font-size: 14px; }
  .mainH span {
    font-style: 18px; }

.mainBox {
  display: flex;
  flex-direction: row;
  padding: 0 50px;
  height: 470px; }
  .mainBox .sidebar {
    flex: 1;
    background: #fff; }
  .mainBox .FlexTwo {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .mainBox .FlexTwo .complete {
      width: 100%;
      background: #000;
      height: 100%; }
    .mainBox .FlexTwo .flexText {
      width: 100%;
      background: #3fa9f5; }
      .mainBox .FlexTwo .flexText .text {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 18px;
        line-height: 28px;
        color: #fff;
        font-family: 'Heebo Regular'; }

.SocialFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 60px 50px; }
  .SocialFooter div a {
    padding-right: 12px; }

.lastImage {
  padding-bottom: 5px; }
